<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>PackageWeb</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="js/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen" />
    <script src="js/jquery-3.0.0.min.js"></script>
</head>
<body>
<div class="container">
    <h1>PackageWeb</h1>
    <h3>package rpm,deb,tar on web page</h3>
    <h3>support upload file type tar,tar.gz,zip</h3>
    <div class="panel panel-default">
        <div th:if="${message}">
            <h5 th:text="${message}" style="color:red"/>
        </div>
        <div class="panel-body">
           <form class="form-horizontal" method="POST" enctype="multipart/form-data" action="/upload">
               <div class="form-group">
                   <label class="col-xs-2 col-md-2 col-sm-2" >源码包（file）</label>
                   <div class="col-xs-10 col-md-10 col-sm-10">
                       <input id="file" type="file" name="file" />
                   </div>
               </div>
               <div class="form-group">
                   <label class="col-xs-2 col-md-2 col-sm-2" >目标类型（target type）</label>
                   <div class="col-xs-10 col-md-10 col-sm-10">
                       <div class="checkbox">
                           <label>
                               <input type="checkbox" id="target" name="target" value="rpm" checked="checked"/>
                               rpm
                           </label>
                       </div>
                       <div class="checkbox">
                           <label>
                               <input type="checkbox" id="target" name="target" value="deb" checked="checked"/>
                               deb
                           </label>
                       </div>
                       <div class="checkbox">
                           <label>
                               <input type="checkbox" id="target" name="target" value="tar" checked="checked"/>
                               tar
                           </label>
                       </div>
                   </div>
               </div>
               <div class="form-group">
                   <label class="col-xs-2 col-md-2 col-sm-2" >软件名称（name）</label>
                   <div class="col-xs-10 col-md-10 col-sm-10">
                       <input type="text" class="form-control" id="softname" name="softname" style="width:300px" />
                   </div>
               </div>
               <div class="form-group">
                   <label class="col-xs-2 col-md-2 col-sm-2" >软件版本号（version）</label>
                   <div class="col-xs-4 col-md-4 col-sm-4">
                       <input type="text" class="form-control" id="version" name="version" style="width:300px" placeholder="default 1.0"/>
                   </div>
                   <label class="col-xs-2 col-md-2 col-sm-2" >发行版本号（release）</label>
                   <div class="col-xs-4 col-md-4 col-sm-4">
                       <input type="text" class="form-control" id="release" name="release" style="width:300px" placeholder="default 1"/>
                   </div>
               </div>
               <div class="form-group">
                   <label class="col-xs-2 col-md-2 col-sm-2" >依赖（dependency）(name format: name or name > version .please split by ;)</label>
                   <div class="col-xs-10 col-md-10 col-sm-10">
                       <textarea class="form-control" rows="5" id="dependency" name="dependency"></textarea>
                   </div>
               </div>
               <div class="form-group">
                   <label class="col-xs-2 col-md-2 col-sm-2" >安装前执行命令（before-install）</label>
                   <div class="col-xs-10 col-md-10 col-sm-10">
                       <textarea class="form-control" rows="5" id="before_install" name="before_install"></textarea>
                   </div>
               </div>
               <div class="form-group">
                   <label class="col-xs-2 col-md-2 col-sm-2" >安装后执行命令（after-install）</label>
                   <div class="col-xs-10 col-md-10 col-sm-10">
                       <textarea class="form-control" rows="5" id="after_install" name="after_install"></textarea>
                   </div>
               </div>
               <div class="form-group">
                   <label class="col-xs-2 col-md-2 col-sm-2" >删除前执行命令（before-remove）</label>
                   <div class="col-xs-10 col-md-10 col-sm-10">
                       <textarea class="form-control" rows="5" id="before_remove" name="before_remove"></textarea>
                   </div>
               </div>
               <div class="form-group">
                   <label class="col-xs-2 col-md-2 col-sm-2" >删除后执行命令（after-remove）</label>
                   <div class="col-xs-10 col-md-10 col-sm-10">
                       <textarea class="form-control" rows="5" id="after_remove" name="after_remove"></textarea>
                   </div>
               </div>
               <div class="form-group">
                   <label class="col-xs-2 col-md-2 col-sm-2" >更新前执行命令（before-upgrade）</label>
                   <div class="col-xs-10 col-md-10 col-sm-10">
                       <textarea class="form-control" rows="5" id="before_upgrade" name="before_upgrade"></textarea>
                   </div>
               </div>
               <div class="form-group">
                   <label class="col-xs-2 col-md-2 col-sm-2" >更新后执行命令（after-upgrade）</label>
                   <div class="col-xs-10 col-md-10 col-sm-10">
                       <textarea class="form-control" rows="5" id="after_upgrade" name="after_upgrade"></textarea>
                   </div>
               </div>

               <div class="form-group">
                   <div class="col-xs-offset-2 col-xs-10">
                       <button type="submit" class="btn btn-success" style="text-align: right">提交（submit）</button>
                   </div>
               </div>
           </form>
        </div>
    </div>
</div>
</body>
</html>